absl-py==0.1.10
astor==0.6.2
bleach==1.5.0
enum34==1.1.6
gast==0.2.0
grpcio==1.9.1
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.4
Markdown==2.6.11
numpy==1.14.1
opencv-python==3.4.0.12
pandas==0.22.0
Pillow==5.0.0
protobuf==3.5.1
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tensorflow==1.6.0rc0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
webencodings==0.5.1
Werkzeug==0.14.1
opencv-python